.hidden {
    display: none;
}

body {
    padding-left: 20%;
    padding-right: 20%;
    background-color: #dcdbdb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

.left-panel-items {
    position: absolute;
    top: 0px;
    left: calc(-30% - 20px);
    bottom: 0px;
    padding: 10px;
    padding-top: 40px;
    /*background-color: #7ce493;^*/
    background-color: #ffc272;
    width: 30%;
    transition: left 0.5s;
}

.left-panel-visible {
    left: 0px;
}

#menu-button {
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 10px;
}

#user-login {
    font-size: smaller;
}

#language-selection {
    font-size: smaller;
}

#main-page-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #b3b3b383;
}

progress {
    width: 100%;
    background-color: #b3b3b3;
    border: 0px;
    border-radius: 7px;
}

progress::-moz-progress-bar {
    background-color: #ffc272;
}

progress::-webkit-progress-bar {
    background-color: #ffc272;
}

button {
    background-color: #ffffff;
    font-family: inherit;
    border: 1px solid black;
    font-size: inherit;
    border-radius: 7px;
}

button:active {
    background-color: #b3b3b3;
}

select {
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid black;
}

select:active {
    background-color: #b3b3b3;
}

#resetButton {
    background-color: red;
}

#resetButton:active {
    background-color: darkred;
}

#reset-button-container {
    padding: 10px;
    position: fixed;
    bottom: 0px;
}

input {
    background-color: #ffffff;
    font-family: inherit;
    border: 1px solid black;
    font-size: inherit;
    border-radius: 7px;
}

.incorrect {
    color: red;
}

#boxBox {
    display: flex;
    justify-content: space-between;
}

.draggable {
    border: 1px solid black;
    padding: 2px;
    background-color: #b3b3b3;
}

.completed {
    background-color: #5be479;
}

.draggableContainer {
    display: flex;
    flex-direction: column;
}

#leftBox {
    float: left;
}

#rightBox {
    float: right;
}

#exercise-image-container {
    display: flex;
}

#exercise-image-container img {
    width: 100%;
}


#dictionary-results div {
    display: flex;
}

#dictionary-results-labels {
    border-bottom: 1px solid black;
}

#dictionary-results div div {
    flex: 50%;
    display: block;
}
